body {
display:flex;
justify-content: center;
background: linear-gradient(180deg, #75e 0%, #eee 12%, #888 100%);
min-height: 98vh;
}


section {
display:grid;
grid-template-columns: repeat(3, 1fr);
background-color:#112;
border:5px solid #112;
grid-gap:5px;
border-bottom:6px solid#001;
border-right:4px solid #001;
padding:5px;
}


div {
height:200px;
width:200px;
background-color:#77c;
border-bottom:6px solid#228;
border-right:4px solid #339;
font-size:180px;
}

div:hover {
background-color:#44b;
}


h1 {
background-color:#f56;
border-bottom:6px solid#412;
border-right:4px solid #512;
margin-bottom:2px;
margin-top:5px;

}
#reset {
height:30px;
width:100px;
font-size:20px;
background-color:#f56;
border-bottom:6px solid#412;
border-right:4px solid #512;
margin-bottom:5px;
align-self:center;
margin:40px;
margin-top:5px;
margin-bottom:5px;
}

#reset:hover {
background-color:#c34;
	}

#aoao {
	background-color:#ccc;
	display:flex;
	justify-content:center;
	height:20px;
width:150px;
font-size:20px;
border-bottom:6px solid#412;
border-right:4px solid #512;
margin-bottom:5px;
color:#f56;
align-self:center;
margin:40px;
margin-top:5px;
margin-bottom:5px;
}

#coisito {
color:#000;
background-color:#ccc;
border-bottom:6px solid#412;
border-right:4px solid #512;
height:20px;
font-size:18px;
width:130px;
align-self:center;
margin:10px;
margin-top:5px;
margin-bottom:5px;
}

#negociação {
display:grid;
grid-template-columns: repeat(3, 1fr);
display:flex;
}